<div class="resetpassword">
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onResetPassword()">
        <mat-label style="font-weight: bold;">Reset Password</mat-label>
        <mat-form-field appearance="fill" style="margin-top: 10px;">
            <mat-label>New Password</mat-label>
            <input matInput type="password" formControlName="newPassword" required>
            <mat-error class="error" *ngIf="resetPasswordForm.controls['newPassword'].invalid">{{getErrorMessage('newPassword')}}</mat-error>
        </mat-form-field><br />
        <mat-form-field appearance="fill" style="margin-top: 10px;">
            <mat-label>Confirm Password</mat-label>
            <input matInput type="password" formControlName="confirmPassword" required>
            <mat-error class="error" *ngIf="resetPasswordForm.controls['confirmPassword'].invalid">{{getErrorMessage('confirmPassword')}}</mat-error>
        </mat-form-field><br />
        <button mat-raised-button color="primary" [disabled]="!resetPasswordForm.valid">Submit</button>
    </form>
</div>