<div class="body">
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>message</mat-icon>
        Blogs
      </ng-template>
      <ng-template matTabContent>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Blog Id</th>
              <th scope="col">Blog Title</th>
              <th scope="col">User Name</th>
              <th scope="col">Approve</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let blogs of allblogs">
              <td
                class="blog"
                [routerLink]="['/blog', blogs._id]"
                style="cursor: pointer"
              >
                {{ blogs._id }}
              </td>
              <td>{{ blogs.title }}</td>
              <td>
                {{ blogs.user.firstName | titlecase }}
                {{ blogs.user.lastName | titlecase }}
              </td>
              <td>
                <button
                  color="primary"
                  style="cursor: pointer; border-radius: 20px"
                  type="button"
                  *ngIf="!blogs.isApproved"
                  (click)="approveblogs(blogs._id)"
                >
                  Approve</button
                >{{ blogs.isApproved ? "isApproved" : "" }}
              </td>
              <td>
                <mat-icon
                  style="cursor: pointer"
                  (click)="deleteBlogDialog(blogs._id)"
                  >delete</mat-icon
                >
              </td>
            </tr>
          </tbody>
        </table>
        <div class="pagination">
          <button
            mat-raised-button
            (click)="previousPage()"
            [disabled]="pageNumber === 1"
            color="primary"
            style="margin-right: 6px"
          >
            <mat-icon>fast_rewind</mat-icon>
          </button>
          <button
            mat-raised-button
            (click)="isCurrentPage()"
            color="primary"
            style="margin-right: 6px"
          >
            {{ pageNumber }}
          </button>
          <button
            mat-raised-button
            (click)="nextPage()"
            color="primary"
            [disabled]="totalPages < 8"
          >
            <mat-icon>fast_forward</mat-icon>
          </button>
        </div>
      </ng-template>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon
          ><span class="material-icons">document_scanner</span> </mat-icon
        >Documents
      </ng-template>
      <ng-template matTabContent>
        <app-get-documents></app-get-documents>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
