<app-nav-bar></app-nav-bar>

<div class="main">
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
        <mat-tab label="Delivery">
            <div class="chips">
                <mat-chip-listbox aria-label="Dog selection">
                    <mat-chip> Filter </mat-chip>
                    <mat-chip color="primary"> Rating </mat-chip>
                    <mat-chip color="accent"> Pure veg </mat-chip>
                    <mat-chip color="accent"> Cuisines </mat-chip>
                    <mat-chip color="accent"> More Filter </mat-chip>
                </mat-chip-listbox>
            </div>
            <div class="inspiration">
                <h2>Inspiration for your first order</h2>
                <div class="inspirationImg">
                    <img src="../../assets/images/pizza.avif" alt="" />
                    <p>Pizza</p>
                </div>
                <div class="inspirationImg">
                    <img src="../../assets/images/burger.avif" alt="" />
                    <p>Burger</p>
                </div>
                <div class="inspirationImg">
                    <img src="../../assets/images/gujaratithali.avif" alt="" />
                    <p>Gujarati thali</p>
                </div>
                <div class="inspirationImg">
                    <img src="../../assets/images/biryani.avif" alt="" />
                    <p>Biryani</p>
                </div>
            </div>
            <div class="inspiration">

                <h2>Top Brands For You</h2>
                <div class="inspirationImg">
                    <img src="../../assets/images/gwalior.avif" height="118" width="116" style="object-fit: cover;"
                        alt="" />
                    <p>Gwaliya</p>
                </div>
                <div class="inspirationImg">
                    <img src="../../assets/images/jayBhavaniVadapav.avif" alt="" />
                    <p>Jay Bhanvani vadapav</p>
                </div>
                <div class="inspirationImg">
                    <img src="../../assets/images/LaMilanoPizzaria.avif" alt="" />
                    <p>La milano</p>
                </div>
                <div class="inspirationImg">
                    <img src="../../assets/images/LaPinoz.avif" alt="" />
                    <p>La Pinoz</p>
                </div>

            </div>
        </mat-tab>

        <mat-tab label="Dining out">Dinning out</mat-tab>
    </mat-tab-group>
</div>