.mat-tab-group {
    margin-bottom: 48px;
  }

  .main{
    margin-left:20% ;
    margin-right: 20%;
  }
  .chips{
    margin-top: 20px;
  }
  .inspiration{
  
    margin-top: 20px;
    h2{
        margin-top: 30px;
        margin-left: 15px;
        margin-bottom: 35px;
    }
    img{
        height: 150px;
        width: 150px;
        border-radius: 300px;
        margin-left: 15px;
    }
  }

  .inspirationImg{
    display: inline-block;
    text-align: center;
    img{
        height: 150px;
        width: 150px;
        border-radius: 300px;
        margin-left: 20px;
        margin-bottom: 5px;
    }
    p{

    }
    
}