.container{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 15px;
}
.input{
    margin-top: 13px;
    width: 100%;
  
}
#button-create{
    width: 100%;
    background-color:#ef4f5f;
    color: white;
    margin-bottom: 5px;
}
#google-button{
    width: 100% !important;
    color: black;  
    margin-bottom: 13px;
    margin-top: 5px;
}