<div style="cursor: pointer;">
  <ngx-avatars [name]="name" size="40" matSuffix [matMenuTriggerFor]="menu"></ngx-avatars>
</div>
<mat-menu #menu="matMenu" style="align-items: center;">
  <span
    style="margin-left: 16px; font-style: italic; font-family: cursive; font-weight: bold; font-size: medium;">Hello,
    {{name | titlecase}}</span>

  <button routerLink="/manageforums" mat-menu-item *ngIf="userRole !== 'admin'">
    <span>Manage Forums</span>
  </button>

  <button routerLink="/managebookmarks" mat-menu-item *ngIf="userRole !== 'admin'">
    <span>Manage Bookmarks</span>
  </button>

  <button routerLink="/manageresources" mat-menu-item *ngIf="userRole !== 'admin'">
    <span>Manage Resources</span>
  </button>

  <button (click)="onSignOut()" mat-menu-item >Sign
    Out</button>
</mat-menu>