<div class="main">
  <div class="container1">
    <div class="image">
      <img
        src="../../assets/images/airconditioningv1.webp"
        alt="image of the ac"
      />
    </div>
  </div>

  <div class="container2">
    <div class="detail-container">
      <mat-card>
        <mat-card-header>
          <mat-card-title
            >{{ singleDeviceValue.thingName }}
            <span style="float: right; margin-left: 500px">
              <button
                mat-flat-button
                color="primary"
                (click)="statusOfAc()"
                [color]="btnColor"
              >
                {{ status }}
              </button>
            </span></mat-card-title
          >
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
          <b>Status </b> : {{ singleDeviceValue.deviceStatus }}
        </mat-card-actions>
      </mat-card>

      <div class="items">
        <mat-list>
          <!-- <mat-list-item style="text-align: left"
            ><b>Device Status </b> : {{ singleDeviceValue.status }}
          </mat-list-item> -->
          <mat-divider></mat-divider>
          <mat-list-item
            ><b>Location</b> : {{ singleDeviceValue.location }}</mat-list-item
          >
          <mat-divider></mat-divider>
          <mat-list-item
            ><b>Origin </b>: {{ singleDeviceValue.origin }}</mat-list-item
          >
          <mat-divider></mat-divider>
          <mat-list-item
            ><b>Mode</b> :
            <button mat-raised-button color="primary" (click)="changeMode()">
              {{ mode }}
            </button>
            <button
              mat-flat-button
              color="primary"
              style="margin-left: 40px"
              (click)="confirmChangeModeAndPost()"
            >
              change
            </button>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item
            ><b>Unit</b> : {{ singleDeviceValue.unit }}
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item
            ><b>Temperature</b> :
            <span
              ><button
                mat-flat-button
                color="primary"
                (click)="decreaseTemperature()"
              >
                -
              </button></span
            >
            <span>
              <button mat-flat-button>{{ temperature }}</button></span
            >
            <span
              ><button
                mat-flat-button
                color="primary"
                (click)="increaseTemperature()"
              >
                +
              </button></span
            >
            <button
              mat-flat-button
              color="primary"
              (click)="setTemperature(temperature)"
              style="margin-left: 40px"
            >
              set
            </button></mat-list-item
          >
          <mat-divider></mat-divider>
        </mat-list>
      </div>
      <br />
      <!-- <mat-card>
        <mat-card-header>
          <mat-card-title>Actions Buttons</mat-card-title>
          <mat-card-subtitle>End</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions align="end">
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card> -->
    </div>
  </div>
</div>
