<!-- <div class = "card-wrapper">
  <div class = "card">
< card left -->
<!-- <div class = "product-imgs">
      <div class = "img-display">
        <div class = "img-showcase">
          <img src = "../../assets/images/airconditioningv1.webp" alt = "shoe image">
          
        </div>
      </div>
     
    </div> -->
<!-- card right
    <div class = "product-content">
          <h2 class = "product-title">{{singleDeviceValue.thingName}}</h2> -->
<!-- <div class = "product-rating">
        <i class = "fas fa-star"></i>
        <i class = "fas fa-star"></i>
        <i class = "fas fa-star"></i>
        <i class = "fas fa-star"></i>
        <i class = "fas fa-star-half-alt"></i>
        <span>4.7(21)</span>
      </div> -->

<!-- <div class = "product-price"> -->
<!-- <p class = "last-price">Old Price: <span>$257.00</span></p> -->
<!-- <p class = "new-price">current status: <span>{{singleDeviceValue.status}}</span></p> -->
<!-- </div> -->

<!-- <div class = "product-detail">
        <h2>about this item: </h2> 
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo eveniet veniam tempora fuga tenetur placeat sapiente architecto illum soluta consequuntur, aspernatur quidem at sequi ipsa!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, perferendis eius. Dignissimos, labore suscipit. Unde.</p>
        <ul>
          <li>Color: <span>Black</span></li>
          <li>Available: <span>in stock</span></li>
          <li>Category: <span>Shoes</span></li>
          <li>Shipping Area: <span>All over the world</span></li>
          <li>Shipping Fee: <span>Free</span></li>
        </ul>
      </div>

      <div class = "purchase-info">
        <input type = "number" min = "0" value = "1">
        <button type = "button" class = "btn">
          Add to Cart <i class = "fas fa-shopping-cart"></i>
        </button>
        <button type = "button" class = "btn">Compare</button>
      </div> -->

<!-- <div class = "social-links">
        <p>Share At: </p>
        <a href = "#">
          <i class = "fab fa-facebook-f"></i>
        </a>
        <a href = "#">
          <i class = "fab fa-twitter"></i>
        </a>
        <a href = "#">
          <i class = "fab fa-instagram"></i>
        </a>
        <a href = "#">
          <i class = "fab fa-whatsapp"></i>
        </a>
        <a href = "#">
          <i class = "fab fa-pinterest"></i>
        </a>
      </div> -->
<!-- </div>
  </div> -->
<!-- </div> -->

<div class="main">
  <div class="container1">
    <div class="image">
      <img
        src="../../assets/images/airconditioningv1.webp"
        alt="image of the ac"
      />
    </div>
  </div>

  <div class="container2">
    <div class="detail-container">
      <mat-card>
        <mat-card-header>
          <mat-card-title
            >{{ singleDeviceValue.thingName }}
            <span style="float: right; margin-left: 500px">
              <mat-slide-toggle formControlName="isOn">{{
                isOn
              }}</mat-slide-toggle>
            </span></mat-card-title
          >
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
          <b>Status </b> : {{ singleDeviceValue.deviceStatus }}
        </mat-card-actions>
      </mat-card>

      <div class="items">
        <mat-list>
          <mat-list-item style="text-align: left"
            ><b>Device Status </b> : {{ singleDeviceValue.status }}
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item
            ><b>Location</b> : {{ singleDeviceValue.location }}</mat-list-item
          >
          <mat-divider></mat-divider>
          <mat-list-item
            ><b>Origin </b>: {{ singleDeviceValue.origin }}</mat-list-item
          >
          <mat-divider></mat-divider>
          <mat-list-item
            ><b>Mode</b> : {{ singleDeviceValue.mode }}
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item
            ><b>Temperature</b> :
            <span
              ><button
                mat-flat-button
                color="primary"
                (click)="decreaseTemperature()"
              >
                -
              </button></span
            >
            <span>
              <button mat-flat-button>{{ temperature }}</button></span
            >
            <span
              ><button
                mat-flat-button
                color="primary"
                (click)="increaseTemperature()"
              >
                +
              </button></span
            >
            <button
              mat-flat-button
              color="primary"
              (click)="setTemperature(temperature)"
              style="margin-left: 40px"
            >
              set
            </button></mat-list-item
          >
        </mat-list>
      </div>
      <br />
      <!-- <mat-card>
        <mat-card-header>
          <mat-card-title>Actions Buttons</mat-card-title>
          <mat-card-subtitle>End</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions align="end">
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card> -->
    </div>
  </div>
</div>
