.conatiner2{

    border: 2px solid black;
    width: 100%;
    height: 250px;
    background-image: url("../../assets/images/zomato.avif");
   
    align-items: center;
    display: flex;
    justify-content: center;
   
    .select{
        height: 38px;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
         outline: none;
    }
    .input{
        height: 34px;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        text-decoration: none;
        border: none;
        outline: none;

    }
   
}

.card{
    
}