<div class="container1">
    <div class="conatiner2">
        <select name id class="select">
            <option value="ahemdabad">ahemdabad</option>
            <option value="mumbai">mumbai</option>
        </select>
        <input type="text" class="input">
    </div>

    <div class="card">
        <img src="../../assets/images/panner.jpg" alt width="300px"
            height="200px">
        <div class="contentTitle">
            <p><b>order online</b></p>
        </div>
        <div class="content">
            <p>stay home and order to the doorstep</p>
        </div>

    </div>

</div>