<div class="container1">
    <div class="conatiner2">
        <select name id class="select">
            <option value="ahemdabad">ahemdabad</option>
            <option value="mumbai">mumbai</option>
        </select>
        <input type="text" class="input">
    </div>

    <div class="Parent-card">
    
         <div class="card">
            <img src="../../assets/images/panner.jpg" alt width="380px" style="border-top-right-radius: 15px; border-top-left-radius: 15px;"
            height="200px">
          <div class="contentTitle">
               <p><b>order online</b></p>
            </div>
            <div class="content">
            <p>stay home and order to the doorstep</p>
        </div>

       </div>


     <div class="card2">
        <img src="../../assets/images/dining.jpg" alt width="380px "
            height="200px" style=" border-top-right-radius: 15px; border-top-left-radius: 15px;">
        <div class="contentTitle2">
            <p><b>Dining</b></p>
        </div>
        <div class="content2">
            <p>View the city's favourite dining venues</p>
        </div>

    </div>
</div>

</div>