
.userdetail {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  text-align: center;
  align-items: baseline;
}
.userdetail div {
  flex: 1 1 auto;
}
.noBlogs{
  text-align: center;
  padding: 15%;
}
.use
  .noBlogs{
    text-align: center;
    padding: 15%;
  }
  .username{
    font-weight: bold;
    margin-right: 6px;
    text-align: center;
}
.date {
  flex-basis: 83%;
}
  .icon {
    padding: 0;
    position:absolute;
    right: 2%;
    cursor: pointer;
  }
  
  .blog {
    font-size: larger;
    font-weight: bold;
    cursor: pointer;
  }
  .card-content{
    max-height: 9vh;
    overflow: hidden;
  }
  .blog-content {
    padding-top: 5px;
    cursor: pointer;
  }
  .tags {
    font-size: small;
    font-weight: bold;
    padding-top: 5px;
  }
  .blogbox {
    margin: 35px;
    max-width: 300px;
    flex-direction: column;
    max-height: 60%;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 3px 3px 25px 0.8px rgb(177, 175, 173);
    background:  #e4f2f3
  }

  .button:hover{
    color: rgb(183, 223, 226);
    background-color: rgb(52, 99, 153);
  }
  .blogbox:hover {
    margin: 35px;
    max-width: 300px;
    flex-direction: column;
    max-height: 60%;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 3px 3px 25px 0.8px rgb(33, 108, 158);
    background:  #d1e8eb
  }
  .readmore{
    color: rgb(5, 5, 5);
    padding-top: 2px;
    padding-left: 5px;
  }
  .readmore:hover{
    color: rgb(183, 223, 226);
  background-color: rgb(52, 99, 153);
  }