
.expandable-content {
    overflow: hidden;
  }
  .questionbox {
      margin-top: 10px;
      border-radius: 12px;
      box-shadow: 3px 3px 25px 0.8px rgb(177, 175, 173);
      width: 50%;
      margin: 50px auto auto auto;
    }
    .noForums{
      text-align: center;
      padding: 15%;
    }
    .userinfo {
      display: flex;
      align-items:center;
      padding-bottom: 8px;
    
    }
    .userinfo div {
      align-content: center;
    }
    .image {
      margin-right: 10px;
    }
    
    .img {
      width: 28px;
    }
    .user-date{
      display: flex;
      flex-direction: column;
    }
    .username{
    margin-right: 15px;
    font-weight: bold;
    font-size:small;
    }
  
    .icon {
    margin-left: auto;
    }
    
    .material-icons{
      vertical-align: middle;
      margin-right: 0;
      cursor: pointer;
    }
    
    .forum {
      padding-top: 5px;
    }
    .question {
      font-size:16px;
      font-weight: bold;
      cursor: pointer;
    }
    .answer {
      padding-top: 5px;
      cursor: pointer;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 100%;
    }
    .tags {
      font-size: small;
      font-weight: bold;
      padding-top: 5px;
    }
    
    .addtitle{
      padding-left: 1vh;
      margin-top:1vh;
    
  }
   .panel{
    box-shadow: none;
  }
  .back{
    padding: 8px;
}
    
.icon{
  margin-left: auto;
  cursor: pointer;
 }
 
 .createdAt{
  margin-right: 10px;
  font-size: 12px;
}
.updatedAt {
font-size: 12px;
}
.example-card {
  max-width: 65%;
  height: fit-content;
  margin: auto;

}
.container{
  padding: 0;
}
.date{
  display: flex;
  flex-direction: row;
}
